* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER STYLING */
.header-pic {
  background: no-repeat;
  background-color: #404041;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

h2 {
  color: #DEDEDE;
  font-weight: 100;
  font-size: 32px;
  padding-bottom: 2%;
  margin-top: -2%;
}

/* MAIN STYLING */
main {
 color: #404042;
 display: grid;
 grid-template-columns: 2fr 2fr;
 grid-template-areas:
 "left right";
}

/* LEFT SIDE STYLING  */
#main-content-left {
  background-color: #f7f7f7;
  border-right: 3px solid #B4B4B4;
  display: grid;
  grid-area: left;
  padding: 3% 3% 0;
}

.interface-boxes {
  background-color: #FFFFFF;
  border: 2px solid #EFEFEF;
  margin-bottom: 3%;
  padding: 2% 2% 0;
}

h3 {
  color: #404042;
  font-size: 24px;
}

#setrange-box-parent {
  display: flex;
}

.setrange-box-grouper {
  margin-right: 3%;
}

.challenger-box-parent {
  display: flex;
  justify-content: space-between;
  margin: -.5% 0;
}

.challenger-box-grouper {
  display: inline-flex;
  flex-direction: column;
  margin: 1% 0 -6% 0;
}

.input-title {
  color: #838289;
  font-size: 20px;
}

#minrange-inputbox {
  font-size: 20px;
  padding: 5% 2%;
  width: 88%;
}

#maximumrange-inputbox{
  font-size: 20px;
  padding: 5% 2%;
  width: 88%;
}

.gray-button {
  background-color: #d0d2d3;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 4% 1%;
  padding: 1.5% 4%;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.gray-button:hover {
  background: #EE448B;
}

.gray-button:focus {
  background: #EE448B;
  outline: 0;
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

.current-range-number {
  font-weight: 700;
  text-decoration: underline;
}

#first-challenger-name,
#second-challenger-name  {
  font-size: 20px;
  padding: 5% 2%;
  width: 182%;
}

#first-challenger-guess,
#second-challenger-guess {
  font-size: 20px;
  padding: 5% 2%;
  width: 95%;
}

#challenger-1-container {
  margin-top: 4%;
}

#challenger-2-container {
  margin-top: 13%;
}

#label-input-button {
  display: flex;
  justify-content: space-around;
  margin-top: 9%;
}

/* RIGHT SIDE STYLING */
#main-content-right {
  background-color: #d0d2d3;
  grid-area: right;
}
