* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER STYLING */
.header-pic {
  background: no-repeat;
  background-color: #404041;
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}

h2 {
  color: #DEDEDE;
  font-weight: 100;
  font-size: 32px;
  padding-bottom: 2%;
  margin-top: -2%;
}

/* MAIN STYLING */
main {
 color: #404042;
 display: grid;
 grid-template-columns: 2fr 2fr;
 grid-template-areas:
 "left right";
}

/* LEFT SIDE STYLING  */
#main-content-left {
  background-color: #f7f7f7;
  border-right: 3px solid #B4B4B4;
  display: grid;
  grid-area: left;
  padding: 3% 3% 0;
}

.interface-boxes {
  background-color: #FFFFFF;
  border: 2px solid #EFEFEF;
  margin-bottom: 3%;
  padding: 2% 2% 0;
}

h3 {
  color: #404041;
  font-size: 25px;
}

#setrange-box-parent {
  display: flex;
  margin-bottom: 5.5%;
}

.setrange-box-grouper {
  margin-right: 3%;
}

.challenger-box-parent {
  display: flex;
  justify-content: space-between;
  margin: -.5% 0;
}

.challenger-box-grouper {
  display: inline-flex;
  flex-direction: column;
  margin: 1% 0 -6% 0;
}

.input-title {
  color: #838289;
  font-size: 22px;
}

#minrange-inputbox,
#maxrange-inputbox {
  color: #404041;
  font-size: 22px;
  margin: 1% 0;
  padding: 3% 2%;
  width: 99%;
}

.gray-button {
  background-color: #d0d2d3;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 5% 1% 2.6%;
  padding: 1.5% 5%;
  transition: background 250ms ease-in-out, transform 150ms ease;
}

.gray-button:hover {
  background-color: #EE448B;
}

.gray-button:focus {
  background-color: #EE448B;
  /* outline: 0; */
}

.active-submit-button {
  background-color: #6e6e6e;
}

h4 {
  color: #404041;
  font-size: 22px;
  font-weight: 300;
  padding-top: 0.4%;
}

.current-range-number {
  font-weight: 700;
  text-decoration: underline;
}

#first-challenger-name,
#second-challenger-name  {
  color: #404041;
  font-size: 20px;
  margin: 2% 0;
  padding: 4% 2%;
  width: 182%;
}

#first-challenger-guess,
#second-challenger-guess {
  color: #404041;
  font-size: 20px;
  margin: 2% 0;
  padding: 4% 2%;
  width: 95%;
}

#challenger-1-container {
  margin-top: 3.5%;
}

#challenger-2-container {
  margin-top: 12%;
}

#label-input-button {
  display: flex;
  justify-content: space-around;
  margin-top: 7.5%;
}

#results-container {
  height: 125%;
  margin-bottom: 8%;
  padding-top: 1%;
}

#current-guess-container {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  text-align: center;
}

#challenger-1-current-guess,
#challenger-2-current-guess {
  color: #EE448B;
  height: 103%;
}

.challenger-results {

}

.challenger-name {
  font-size: 22px;
  font-weight: 700;
  margin-top: -2%;
}

.current-guess-heading {
  color: #838289;
  font-size: 22px;
  margin-top: -1%;
}

.guess-hint {
  color: #838289;
  font-size: 26px;
}

.blah {

}

/* RIGHT SIDE STYLING */
#main-content-right {
  background-color: #d0d2d3;
  grid-area: right;
}
